.dialog {
  position: fixed;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  z-index: 2; /* 确保它在新页面之上 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog.submitted {
  width: 30%;
  bottom: 0;
  right: 0;
  top: auto;
  left: auto;
  transform: translate(0, 0);
}

.notes {
  position: fixed;
  width: 0;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  z-index: 2; /* 确保它在新页面之上 */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* 不透明度 */
  visibility: hidden; /* 将其隐藏 */
}

.notes.submitted {
  width: 30%;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  transform: translate(0, 0);
  opacity: 1; /* 变为可见 */
  visibility: visible; /* 变为可见 */
}

.dialog-content {
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3; /* 确保它在新页面之上 */
}
